<style>
/*
  .custom-menu-navbar {
    background: transparent linear-gradient(to bottom, #F6B361 0%, #D88E2D 100%) repeat scroll 0% 0%;
    border-bottom: 1px solid #E9A34B;
    border-top: 1px solid #E9A34B;
    min-height: 30px !important;
  }
  .custom-menu-navbar li{
    border-bottom: none !important;
  }
  .menu-bar-menu-style li {
    border-left: 1px solid #AE7226 !important;
  }
  .custom-menu-navbar a{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f6b361 0%, #d88e2d 100%) repeat scroll 0 0;
    padding: 6px 10px !important;
    color: #000 !important;
  }
*/
</style>
<div class="row navbar menu-navbar" role="navigation">	
  <div class="col-md-1"></div>
  <div class="col-md-10 no-padding">
    <div class="navbar-header">
      <button id="fa-menubar-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-navbar-cls">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse menu-navbar-cls">
      <ul class="nav navbar-nav menu-bar-menu-style">
        <li class="<%= params[:job_category_id].blank? ? 'selected-menu' : '' %>"><a href="<%= root_path %>"><span>Home&nbsp;</span></a></li>
        <% @job_categories.each do | job_category | %>
          <% if job_category.id === 2%>
            <li class="state-list-tab <%= (params[:job_category_id].to_i == job_category.id) ? 'selected-menu' : '' %>">
              <a href="javascript:void(0);">
                <%= job_category.name %>&nbsp;<b class="caret"></b>
              </a>
            </li>
            <div class="states-name-list">
              <div class="states-name-block col-md-12">
                <% @states.each do | state | %>
                  <div class="col-md-3 state-name"><a href="<%= jobs_by_state_category_jobs_path(2, state.id) %>"><%= state.name %></a></div>
                <% end %>
              </div>
            </div>
          <% else %>
            <li class="<%= (params[:job_category_id].to_i == job_category.id) ? 'selected-menu' : '' %>">
              <a href="<%= jobs_by_category_jobs_path(job_category.id) %>">
                <span><%= job_category.name %>&nbsp;</span>
              </a>
            </li>
          <% end %>
        <% end %>
        <li>
          <a href="<%= current_affairs_path %>"  class="current-affr-menu">
            <span>Current Affairs&nbsp;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

