<% if jobs.present? %>
  <% jobs.each do | job |%>
    <div class="job-summary-block">
      <div class="job-summary-hdr">
        <a href="<%= job_path(job.id)%>">
          <%= job.title%>
        </a>
      </div>
      <div class="job-summary-body">
        <%= job.description.truncate(200)%>
      </div>
      <div class="pull-right read-more"><a href="javascript:void(0);">Read more ...</a></div>
    </div>
  <% end %>
<% else %>
  <div class="no-job-status">No more jobs</div>
<% end %>
