<div class="row">
  <div class="col-md-12">
    <div class="row-fluid quiz-list-hdr">
      <div class="row">
        <div class="col-md-6 pull-left quiz-list-hdr-text"><%= @quiz_category.name.capitalize %> Quiz List</div>
        <div class="col-md-6 pull-left">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group date datetime col-md-12 col-xs-12 custom-datetime" style="margin-bottom:0px;" data-min-view="2" data-date-format="dd-mm-yyyy">
                <input type="text" class="form-control" value="<%=  params[:date] %>" id="quiz-date-input" 
                  size="16" placeholder="Select Date" name="date" id="date" readonly="">
                <span class="input-group-addon" id="quiz-datetime">
                  <span class="glyphicon glyphicon-th"></span>
                </span>
              </div>
            </div>
            <div class="col-md-1" style="padding: 8px 0px;">
              <center>Or</center>
            </div>
            <div class="col-md-5">
              <div class="btn-group pull-right">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Select Quiz Type&nbsp;&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <%= get_quiz_categories_list %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="quiz-list">
      <%= render partial: "quiz_list", locals: {quizs: @quizs} %>
    </div>
  </div>
</div>
