<table class="table table-hover row-fluid">
  <tbody>
    <% current_affairs.each do |crt_affr| %>
      <tr id="row-1">
        <td class="col-md-7">
          <%= crt_affr.description %>
        </td>
        <td class="col-md-3">
          <%= crt_affr.current_affair_category.name %>
        </td>
        <td class="col-md-1">
          <a href="/admin/jobs/1/edit" class="fa fa-edit btn btn-primary"> Edit</a>
        </td>
        <td class="col-md-1">
          <a href="javascript:void(0);" data-job_id="1" class="fa fa-trash-o btn btn-danger delete_job"> Delete</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
