<div class="page-head">
  <h2>Jobs List</h2>
</div>
<div class="cl-mcont">
  <div class="row wizard-row">
    <div class="col-md-12 fuelux">
      <div class="block-wizard">
        <div class="step-content">
          <%= render partial: "admin/jobs/jobs_list", locals: {jobs: @jobs} %>
        </div>
      </div>
    </div>
  </div>
</div>
