<div class="row">
  <div class="row-fluid chart-hdr">
    RBI Policies
  </div>
  <div class="row-fluid chart-body">
    <div class="row-fluid">
      <div class="col-md-3 no-padding">
        <div class="policy-bx-hdr">Policy Rates</div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Policy Repo Rate</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;6.75%</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Reverse Repo Rate</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;5.75%</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Marginal Standing Facility Rate</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;7.75%</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Bank Rate</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;7.75%</div>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div class="policy-bx-hdr">Reserve Ratios</div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">CRR</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;4%</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">SLR</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;21.5%</div>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div class="policy-bx-hdr">Exchange Rates</div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">INR / 1 USD</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;66.3840</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">INR / 1 Euro</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;70.5529</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">INR / 100 Jap. YEN</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;54.1000</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">INR / 1 Pound Sterling</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;100.4523</div>
        </div>
      </div>
      <div class="col-md-3 no-padding">
        <div class="policy-bx-hdr">Lending/Deposit Rates</div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Base Rate</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;9.30% - 9.70%</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Savings Deposit Rate</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;4.00%</div>
        </div>
        <div class="policy-bx-body row">
          <div class="col-md-7 no-padding">Term Deposit Rate > 1 Year</div>
          <div class="col-md-4 no-padding">:&nbsp;&nbsp;7.00% - 7.90%</div>
        </div>
      </div>
    </div>
    <div  class="clear"><br/></div>
    <div class="chart-bullets row-fluid">
      <div class="policy-bx-hdr">Banking Governers</div>
      <div class="policy-bx-body row">
       <div class="col-md-2"><strong>RBI Governer</strong></div>
       <div class="col-md-6">:&nbsp;&nbsp;Raghuram Rajan</div>
      </div>
      <div class="policy-bx-body row">
       <div class="col-md-2"><strong>Dipty Governers</strong></div>
       <div class="col-md-6">
          <div>:&nbsp;&nbsp;Raghuram Rajan1</div>
          <div class="clear"></div>
          <div>:&nbsp;&nbsp;Raghuram Rajan1</div>
          <div class="clear"></div>
          <div>:&nbsp;&nbsp;Raghuram Rajan1</div>
          <div class="clear"></div>
          <div>:&nbsp;&nbsp;Raghuram Rajan1</div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="chart-bullets row-fluid">
      <div class="policy-bx-hdr">Economic News Updates</div>
      <div class="policy-bx-body crt-affr-bullets row">
        <% @current_affairs.each do | crt_affr | %>
          <div class="crt-affr-bullet-index">
            <strong><i class="fa fa-caret-right crt-affr-caret"></i></strong>
          </div>
          <div class="crt-affr-description">
            <%= crt_affr.description %>
          </div>
          <div class="clear"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
