@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes";
@import "font-awesome";
@import "jobs";
@import "current_affairs";
@import "bootstrap-datetimepicker.min";
@import "custom-datetimepicker";

body{
 background-color: #EEEEEE;
}
.no-padding{padding: 0px;}
.center{text-align:center;}

.bdr-lft{border-left: 1px solid lightgray;}
.bdr-rght{border-right: 1px solid lightgray;}
.bdr-btm{border-bottom: 1px solid lightgray;}
.mrgn-btm10{margin-bottom: 10px;}
.mrgn-btm15{margin-bottom: 15px;}
.clear{clear:both;}
.fa-bars {color: #FFF;}

.site-tag{
  color: #009dfc;
  font-size: 13px;
  margin-left: 10px;
  margin-top: -10px;
  text-decoration: underline;
}
.website-title{
  font-size:30px;
  margin-top:25px;
  font-weight:bold;
}

.top-lbl-web-title{color:#FFF;font-size:18px;font-weight:bold;padding-top:6px;}
.custom-navbar{
  border-bottom: 1px solid #ddd;
  padding: 0px 40px;
  background-color: #555555;
  min-height: 25px !important;
  div ul li a {
    min-height: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: #555555 !important;
    color: #FFF !important;
  }
}
.custom-navbar1{
  border-bottom: 1px solid #ddd;
  padding: 0px 40px;
  background-color: #555555;
  min-height: 25px !important;
  div ul li a {
    min-height: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #555555 !important;
    color: #FFF !important;
  }
}

.navbar-header > a{
  color: #FFF !important;
  font-weight: bold;
}

.image-navbar1{
  margin-top: 40px;
  min-height: 188px !important;
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  min-height: 100px !important;
  #background:url(navbar-image.jpg);
}

.image-navbar{
  margin-top: 30px;
  min-height: 188px !important;
  border: 1px solid #ddd;
  background-color: #FFF; 
  min-height: 100px !important;
}

.menu-navbar{
  margin-top: -20px;
  border-bottom: 1px solid #ddd;
  background-color: #555555;
  min-height: 40px !important;
  border-radius: 0;
  a{padding-top:8px!important;;padding-bottom:8px!important;}
  div ul li a {
    background-color: #555555 !important;
    color: #FFF !important;
    font-weight: bold;
    font-size: 12px;
  }
  .current-affr-menu{
    background-color: #009dfc !important;
    border-radius: 5px;
    border: 1px solid #009dfc;
    margin-left: 5px;
  }
}

.menu-bar-menu-style{
  margin-left: -30px;
  li{
    border-bottom: 3px solid #555555;
    a{padding-left: 14px;padding-right: 14px;}
  }
}

.bdr-lft-rght{
  #border-left: 1px solid lightgray;
  #border-right: 1px solid lightgray;
}

.state-list-ul{
  padding: 0px;
  .lst-devider{
    border-bottom: 1px solid lightgray;
  }
  a{padding: 6px 10px !important;}
}

.app-footer {
  z-index: 1030;
  bottom: 0px;
  padding: 8px;
  background-color: #555555;
  border-top: 3px solid #eeeeee;
  ul{padding-left: 0px;}
  li{ list-style-type: none;font-size:13px;}
  a{color: #FFF; text-decoration: none;}
}
.app-footer .job-type-hdr{
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border-bottom: 3px solid lightgray;
  padding: 6px 0px;
  margin-bottom: 10px;
}
.job-type-hdr::after{
  border-bottom: 3px solid #009dfc;
  content: " ";
  left: 15px;
  position: absolute;
  top: 31px;
  width: 110px;
}
.more_states{
  color: #FFF;
  float: left;
  cursor: pointer;
}
#remaining_states{
  display: none;
}
.job-group-hdr{
 font-size:14px;font-weight:bold;border-bottom:1px solid lightgray;padding-bottom:5px;margin-bottom:10px;
}
.job-detail-link, .job-detail-link:hover{
  text-decoration: none;
  font-weight: bold;
  color: #075FE6;
}
.job-view-more, .job-view-more:hover{
  color: #D63A37;
  font-weight: bold;
  text-decoration: none;
}

.jobs-table{
  thead {
    th{
      background-color: #DDDDDD;
      padding: 5px 8px !important;
      border-bottom: 1px solid #DDDDDD !important;
    }
  }
  tbody{
    tr:last-child{
      border-bottom: 1px solid #DDDDDD;
    }
  }
}

.breaking-news-list-row{
  .col-md-4{
    padding-bottom: 15px;
  }
}
.custom-dropdown{
  padding: 0px;
  .divider{margin: 0px;}
  li:last-child{
    /*border-bottom: 1px solid #FFF; */
  }
}
#alert_msg{
  z-index: 1000; position: absolute; width: 700px; top: 45px;
}
