@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes";

body{
 background-color: #EEEEEE;
}

.center{text-align:center;}

.bdr-lft{border-left: 1px solid lightgray;}
.bdr-rght{border-right: 1px solid lightgray;}
.bdr-btm{border-bottom: 1px solid lightgray;}
.clear{clear:both;}

.custom-navbar1{
  border-bottom: 1px solid #ddd;
  padding: 0px 40px;
  background-color: #555555;
  div ul li a {
   background-color: #555555 !important;
   color: #FFF !important;
  }
}

.custom-navbar{
  border-bottom: 1px solid #ddd;
  padding: 0px 40px;
  background-color: #555555;
  min-height: 25px !important;
  div ul li a {
    min-height: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: #555555 !important;
    color: #FFF !important;
  }
}

.navbar-header > a{
  color: #FFF !important;
  font-weight: bold;
}

.image-navbar1{
  margin-top: 30px;
  min-height: 188px !important;
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  min-height: 100px !important;
  #background:url(navbar-image.jpg);
}

.image-navbar{
  margin-top: 30px;
  min-height: 188px !important;
  //border-bottom: 1px solid #ddd;
  background-color: #FFF; 
  min-height: 100px !important;
}

.menu-navbar{
  margin-top: -20px;
  border-bottom: 1px solid #ddd;
  background-color: #555555;
  min-height: 40px !important;
  border-radius: 0;
  a{padding-top:8px!important;;padding-bottom:8px!important;}
  div ul li a {
    background-color: #555555 !important;
    color: #FFF !important;
    font-weight: bold;
    font-size: 12px;
  }
}

.navbar-nav > li > a {
  background-color: #FFF !important;
  padding-bottom: 10px;
  padding-top: 10px
}

.bdr-lft-rght{
  #border-left: 1px solid lightgray;
  #border-right: 1px solid lightgray;
}

.state-list-ul{
  padding: 0px;
  .lst-devider{
    border-bottom: 1px solid lightgray;
  }
  a{padding: 6px 10px !important;}
}

