.chart-hdr{
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding: 5px 8px;
  text-align: center;
  margin-bottom: 5px;
}
.policy-bx-hdr{
  background-color: #555555;
  margin-left: 3px;
  margin-right: 3px;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 5px;
}
.policy-bx-body{
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left: 3px;
  margin-right: 3px;
  padding: 6px 5px;
}
