.crt-affr-hdr{
  border-bottom: 1px solid lightgray;
  margin-left: 0px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  .crt-affr-hdr-txt{
    font-size: 24px;
    font-weight: bold;
    margin-left: -15px;
  }
}
.export-pdf{
  background-color: #009dfc;
  border: 1px solid #009dfc;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 8px;
  margin-top: 2px;
  padding: 5px 8px;
}
.crt-affr-bullets{
  font-size: 14px;
  word-spacing: 3px;
  padding: 5px 5px 5px 15px;
  .crt-affr-bullet-index{
    float: left;
    width: 3%;
  }
  .crt-affr-description{
    float: right;
    width: 97%;
    padding-bottom: 6px;
  }
} 
.border-btm{
  border-bottom: 1px solid lightgray;
}
.comment-box{
  margin-bottom: 5px;
  border-radius: 0px;
  height: 35px !important;
  overflow-y: hidden;
  font-size: 13px;
  padding: 7px 5px 5px 8px;
}
#daily-update-date-span{
  background-color: #009DFC;
  border-radius: 0;
  border: 1px solid #009DFC;
}
#daily-update-date-span:hover{
  background-color: #009DFC;
  border: 1px solid #009DFC;
}
#daily-update-comment-box{
  max-width: 835px;
}
