@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "style";
@import "bootstrap-datetimepicker.min";
@import "bootstrap-switch";
@import "admin/jobs";
@import "admin/current_affairs";

.mrgn-btm10{margin-bottom: 10px;}
.mrgn-btm15{margin-bottom: 15px;}
.admin-navbar{
  border-bottom: 1px solid #ddd;
  background-color: #2494F2;
  .navbar-nav > li > a{
    background-color: #2494F2 !important;
    color: #FFF !important;
  }
}
.notice{
  border-radius: 5px !important;
  margin-top: 15px !important;
  position: absolute !important;
  z-index: 1000 !important;
}
.mandatory_field {
  border-left: 3px solid #ff0000 !important;
}
