.selected-menu{
  border-bottom: 4px solid #009dfc !important;
}
.selected-lst{
  //background-color: #EEEEEE;
  background-color: #009dfc;
  a{color: #fff !important;}
}
.no-job-status{
  font-size: 14px;
  text-align: center;
}
.panel-block{
  border: 1px solid lightgray;
  padding: 4px 0px !important;
  margin-bottom: 20px;
  .panel-block-hdr{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
  }
  .panel-block-body{
    padding: 4px;
    a { padding: 5px; font-size:13px;}
  }
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 30px;
}

/*Subscribe group inputs related css*/
.logo-outer{border:1px solid #fff;background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efeded 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efeded)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efeded 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efeded 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efeded 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#efeded 100%); /* W3C */
}

.subscription-outer{ 
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-moz-linear-gradient(center top , #fdfdfc 0%, #009dfc 150%) repeat scroll 0 0;
  background:-moz-linear-gradient( center top, #fdfdfc 0%, #009DFC 150% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfc', endColorstr='#009DFC');
  background-color:#fdfdfc;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #009DFC;
  padding: 10px 2px;
  margin-right:7px; 
  margin-top:10px;
  margin-bottom:10px;
  width: 415px;
  font-size: 12px;
}
.subscription-box{
  float: left;
  font-weight: bold;
  width: 140px;
  margin-top: 6px;
  div{margin-top: 6px;}
}

.orange-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #009DFC;
  -webkit-box-shadow:inset 0px 1px 0px 0px #009DFC;
  box-shadow:inset 0px 1px 0px 0px #009DFC;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #009DFC), color-stop(1, #009DFC) );
  background:-moz-linear-gradient( center top, #009DFC 5%, #009DFC 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009DFC', endColorstr='#009DFC');
  background-color:#009DFC;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #009DFC;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:6px 10px;
  text-decoration:none;
  cursor:pointer;
}
.subscription-input{ float:left;  margin-top:10px;}
.email-tip{ 
  margin-left:5px; 
  color:#000;;
}
.subscribe-btn{
  margin-top: 10px; 
  margin-left:5px;
}

.breaking-news-block{
  background-color: #FFF;
  font-size: 12px;
  margin-top: -20px;
  padding: 35px 15px 25px 15px;
}

#breakingnews {
  border-bottom: 2px solid #009DFC;
  height: 42px;
  line-height: 29px;
  margin: -25px 0 10px;
  overflow: hidden;
  .plus-icon{
    margin-right: 7px;
    margin-top: 7px;
  }
}
#breakingnews .breakhead {
  background: #009DFC none repeat scroll 0 0;
  color: #fff;
  display: block;
  float: left;
  font-family: "Roboto Condensed";
  font-weight: bold;
  padding: 6.5px 22px;
  position: absolute;
  text-transform: uppercase;
}
#adbreakingnews {
  float: left;
  font-size: 14px;
  margin-left: 175px;
  margin-top: 6px;
}

/* main jobs list block*/
.job-type-block{
  padding: 0px 10px 5px;
  .job-type-hdr{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
    margin-bottom: 10px;
  }
  .job-type-body{
    margin-bottom: 20px;
    ul{padding: 0px !important;}
    li{padding: 2px 0px;list-style: none;}
  }
}
.advertiment-block{
  border-top: 1px solid lightgray;
  padding: 5px 4px;
  text-align: center;
  color: red;
}


/* job summary block css*/
.job-summary-block{
  margin-bottom: 20px;
  min-height: 350px;
  .read-more{margin-top: -5px;}
}
.job-summary-hdr{
  background-color: #f9f8f8;
  border-bottom: 2px solid lightgray;
  font-size: 17px;
  margin-bottom: 8px;
  padding: 4px;
}
.job-summary-body{
  font-size: 14px;
}

.job-details-block{
/*
  background-color: #F9F8F8;
  padding:8px;
  border-radius: 4px;
  min-height: 350px;
*/
}
.job-details-hdr{
/*
  background-color: #eeeeee;
*/
  background-color: #fefdfd;
  border: 1px solid #009dfc;
  border-radius: 4px;
  box-shadow: 0 1px 0 -1px rgba(0, 0, 0, 0.12), 2px 1px 0 #009dfc inset;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.custom-badge{background-color: #ff2500;}
.anncment-link{font-size: 13px;}

.copyright-txt{
  border-top:3px solid #d3d3d3;margin-left:-8px;margin-right:-8px;padding:5px 0px 0px 0px;color:#FFF;
}
