.job_hdr{
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.mrgn-top{
  margin-top: 10px;
}
.imprt-lnks{
  margin-left:10px;
}
