.job-list-block{
  background-color: #FFF;
  margin-top: -20px;
  font-size: 12px;
  padding: 5px 15px;
}
.job-details-body{
  padding: 4px 0px;
  div{margin-bottom:4px;}
}
.job-attrs{margin-bottom: 10px !important;}
.job-attr-lbl{font-size: 14px;}
.job-attr-detail{font-size: 13px; }
.mrgn-top{margin-top: 10px;}
