<div class="navbar navbar-default navbar-fixed-top" id="head-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="fa fa-gear"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand"><span>JOBS-HUB</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="<%= new_user_registration_path %>">Register</a></li>
        <li><a href="<%= new_user_session_path %>">Log in</a></li>
      </ul>
    </div>
  </div>
</div>
