<div id="breakingnews">
  <div class="breakhead col-md-2"><i class="pull-left glyphicon glyphicon-plus plus-icon"></i>Breaking News</div>
  <div id="adbreakingnews" class="col-md-10">
    <marquee>
      <a href="/admit_cards">SSC CGL admit card 2015</a> |
      <a href="/admit_cards">SSC CGL admit card 2016</a> |
      <a href="/admit_cards">SSC CGL admit card 2017</a> |
      <a href="/admit_cards">SSC CGL admit card 2018</a>
    </marquee>
  </div>
</div>
