<div id="breakingnews">
  <div class="breakhead col-md-2"><i class="pull-left glyphicon glyphicon-plus plus-icon"></i>Announcements</div>
  <div id="adbreakingnews" class="col-md-10">
    <marquee>
      <a href="/admit_cards">SSC CGL admit card 2015</a> |
      <a href="/admit_cards">SSC CGL admit card 2016</a> |
      <a href="/admit_cards">SSC CGL admit card 2017</a> |
      <a href="/admit_cards">SSC CGL admit card 2018</a>
    </marquee>
  </div>
</div>
<div class="breaking-news-list">
  <div class="row-fluid breaking-news-list-row">
    <div class="col-md-4">
      <div class="ancmnt-hdr">Admit Card / Call Letter</div>
      <ul class="ancmnt-details">
        <li><a href="javascript:void(0);">SSC Admit 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IBPS RRB 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IBPS Multitasking staff 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IDBI Special 2015 Special Recruitement admit card</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="ancmnt-hdr">Inteview / Exam Date Reminder</div>
      <ul class="ancmnt-details">
        <li><a href="javascript:void(0);">SSC Admit 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IBPS RRB 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IBPS Multitasking staff 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IDBI Special 2015 Special Recruitement admit card</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="ancmnt-hdr">Interview / Exam Results</div>
      <ul class="ancmnt-details">
        <li><a href="javascript:void(0);">SSC Admit 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IBPS RRB 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IBPS Multitasking staff 2015 admit card</a></li>
        <li><a href="javascript:void(0);">IDBI Special 2015 Special Recruitement admit card</a></li>
      </ul>
    </div>
  </div>
</div>
