<div class="row navbar image-navbar logo-outer" role="navigation">
  <div class="collapse navbar-collapse">
    <div class="col-md-3">
      <div class="pull-left website-title" style="">
          JOBS-HUB
      </div>
      <div class="clear"></div>
      <div class="pull-left site-tag">a place for all type government jobs</div>
    </div>
    <div class="col-md-9">
      <div class="pull-right subscription-outer">
        <div class="subscription-box">
          <span class="pull-left">
            <%#= image_tag("email-icon.png") %>
            <img border="0" src="/assets/email-icon.png">
          </span>
          <div>Subscribe for Free Job alerts</div>
        </div>
        <div class="subscription-input">
          <form target="popupwindow" style="display: block;"  method="post" id="subscribeForm" action="">
            <div class="form-group">
              <input type="text" placeholder="Enter your email address" name="email" id="subscribeNow" class="form-control">
              <input type="hidden" value="apply4sarkarinaukri" name="uri"><input type="hidden" value="en_US" name="loc">
            </div>
          </form>
        </div>
        <input type="submit" value="Submit" class="subscribe-btn orange-btn">
        <div class="clear"></div>
        <div class="email-tip"><span>Note:</span> Please check your inbox to verify your email id.</div>
      </div>
    </div>
  </div>
</div>
