<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Notifications
  </div>
  <ul class="panel-block-body nav">
    <li class="<%= params[:job_category_id].blank? ? 'selected-lst' : '' %>"><a href="<%= jobs_path %>">Latest Notifications</a> </li>
    <li><a href="javascript:void(0);" >Upcoming Notifications</a> </li>
  </ul>
</div>
<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Current Affairs
  </div>
  <ul class="panel-block-body nav">
    <li><a href="http://www.freejobalert.com/exam-results/22075/">Daily updates</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 0</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 1</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 2</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 3</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 4</a></li>
  </ul>
</div>
