<div class="row navbar menu-navbar" role="navigation">	
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-navbar-cls">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse menu-navbar-cls">
      <ul class="nav navbar-nav menu-bar-menu-style">
        <li class="<%= params[:job_category_id].blank? ? 'selected-menu' : '' %>"><a href="<%= root_path %>"><span>Home&nbsp;</span></a></li>
        <% @job_categories.each do | job_category | %>
          <% if job_category.id === 2%>
            <li class="dropdown <%= (params[:job_category_id].to_i == job_category.id) ? 'selected-menu' : '' %>">
              <a data-toggle="dropdown" class="dropdown-toggle" href="/jobs/category<%= job_category.id %>" aria-expanded="false">
                <%= job_category.name %>&nbsp;<b class="caret"></b>
              </a>
              <ul class="dropdown-menu state-list-ul">
                <% @states.each do | state | %>
                  <li class="lst-devider"><a href="<%= jobs_by_state_category_jobs_path(job_category.id, state.id) %>"><%= state.name %></a></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li class="<%= (params[:job_category_id].to_i == job_category.id) ? 'selected-menu' : '' %>">
              <a href="<%= jobs_by_category_jobs_path(job_category.id) %>">
                <span><%= job_category.name %>&nbsp;</span>
              </a>
            </li>
          <% end %>
        <% end %>
        <li style="margin-left:5px !important;">
          <a href="javascript:void(0);"  class="current-affr-menu">
            <span>Current Affairs&nbsp;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
