<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="pull-right">
    <ul class="nav navbar-nav pull-right">
      <li><a href="#">Register</a></li>
      <li><a href="<%= dashboards_path %>">Log in</a></li>
    </ul>
  </div>
</div>
